#task_txt
{
	height:50px;
	width:600px;
	font-style: oblique;
	border-left: 6px solid black;
	font-size:20px;
	border-radius: 5px;
}
input, textarea {
  background-color: #C0C0C0;
}
#divleft
{
	width:597px;
	height:200px;
	float:left;
}
H1
{
	COLOR:black;
}
input::placeholder 
{    
    color: lightblack;
	font-size:20px;
	margin-left:15px;
}
Button {
	width:115px;
	height:40px;
	border-color:black;
	background-color: lightgrey;
	font-size:15px;
	margin-left:10px;
	float:right;
	cursor: pointer;
	border-radius: 8px;
}
Button:hover {background-color: #808080}
#Dlt_all
{
	float:right;
	margin-right:10px;
	border-color:black;
	color:black;
	background-color: hsl(0, 100%, 90%);
    box-shadow: 10px 10px 5px black;
	border-radius: 8px;
	Width:150px;
	margin-top:50px;

}

#ul_id
{

	font-size:17;	
}
#p_id
{
	float:left;
	font-size:17;
}
#divright
{
	background-color:#808080;
	width:600px;
	height:552px;
	float:right;
	color:white;
}
#task_btn
{
	float:left;
	box-shadow: 10px 10px 5px black;
	margin-top:50px;
}
#dltbut
{
	width:70px;
	height:30px;
    margin-right:50px;
	border-radius: 8px;
}
#error
{		
	color:red;
	font-size:20px;
}
.List
{
	font-size:30px;
}
#dltd_div{
	background-color:#808080;
	margin-top:2px;
	width:597px;
	height:350px;
	float:left;
}
#clear{
	float:right;
	margin-top:230px;
	margin-right:20px;
}
.dlt_bt{
	
	float:right;
	width:70px;
	height:30px;
	
	
}
#ul2
{
	width:557px;
	height:40px;
}
#clear
{
            align-items: center;
            appearance: none;
            background-color: #fff;
            border-radius: 24px;
            border-style: none;
            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
            box-sizing: border-box;
            color: #3c4043;
            cursor: pointer;
            display: inline-flex;
            fill: currentcolor;
            font-family: "Google Sans",Roboto,Arial,sans-serif;
            font-size: 14px;
            font-weight: 500;
            height: 48px;
            justify-content: center;
            letter-spacing: .25px;
            line-height: normal;
            max-width: 100%;
            overflow: visible;
            padding: 2px 24px;
            position: relative;
            text-align: center;
            text-transform: none;
            transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: auto;
            will-change: transform,opacity;
            z-index: 0;
          }

          .clear:hover {
            background: #F6F9FE;
            color: #174ea6;
          }

          .clear:active {
            box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
            outline: none;
          }
